/*styling the posting*/
#content {
    color: white;
    margin-left: 10%;
    margin-top: 2%;
}

.headingDiv {
    color: mediumseagreen;
    margin-left: 30%;
    margin-right: 30%;
}


/* style for the profile page*/

.body {
    background-image: url(../img/bg.jpg);
    background-repeat: no-repeat;
    font-family: monospace;
}

.leftDiv {
    position: fixed;
    height: 650px;
    width: 15%;
    left: 2%;
    clear: right;
    float: left;
    background-color:darksalmon;
    opacity: .4;
    box-shadow: 1px 0px 20px #000;
}
.leftCon {
    position: fixed;
    height: 650px;
    width: 15%;
    left: 2%;
    clear: right;
    float: left;
}
.picDiv {
    position: relative;
    height: auto;
    width: auto;
    clear: both;
    /*background-color: brown;*/
}
.profImg {
    position:sticky;
    width: 100%;
}
.profInfo {
    position: relative;
    width: auto;
    height: 250px;
    clear: both;
}
#profName {
    text-align: center;
    position: relative;
    top: 15px;
    padding: 10px;
    clear: both;
    margin: 0 auto;
    font-size: 16pt;
    color: grey;
}
#profLocation {
    text-align: center;
    position: relative;
    top: 15px;
    padding: 10px;
}

.rightDiv {
    position: fixed;
    height: 650px;
    width: 80%;
    right: 2%;
    float: right;
    background-color: darksalmon;
    opacity: .4;
    box-shadow: 1px 0px 20px #000;
}
.rightCon {
    position: fixed;
    height: 650px;
    width: 80%;
    right: 2%;
    float: right;  
}
#postDiv {
    position: relative;
    width: 95%;
    height: 95%;
    margin: auto;
    top: 2.5%;
    text-align: center;
}
.userLogin {
    margin: 0 auto;
    margin-top:7%;
    position: relative;
    width: 350px;
    height: 560px;
    box-shadow: 5px 5px 25px #915271;
}

.userLogin1 {
    margin: 0 auto;
    position: relative;
    width: 350px;
    height: 500px;
    top: 120px;
    clear:both;
    
}

#login,#sub {
    margin: 0 auto;
    position: relative;
    width: 76%;
    height: 7%;
    background-color:rgba(119,89,82,.9);
    font-size:1em;
    color:white;
    border: solid 2px rgba(119,89,82,1);
    display: block;
}

#login:hover,#sub:hover {
    margin: 0 auto;
    position: relative;
    width: 76%;
    height: 7%;
    background-color:rgba(119,89,82,0);
    border: solid 2px rgba(230,230,230,1);
    font-size:1em;
    color:#3B3433;
}

#username {
    text-align: center;
    width: 38%;
    height:7%;
    border-radius:7px;
    clear: both;
    display: block;
    margin: 0 auto;
}
#password {
    text-align: center;
    height:7%;
    width: 38%;
    border-radius:7px;
    clear: both;
    display: block;
    margin: 0 auto;
}
.logo {
    margin: 0 auto;
    position: relative;
    bottom: 10%;
}
.doveImg {
    height:auto;
    width: 100px;
    margin: 0 auto;
    position: relative;
    left: 35%;
}

#loginpage {
    font-size:.9em;
    margin: 0 auto;
    text-align:center;
    clear:both;
    display: block;
}

.placeholder {
    height:10px;
    width:10px;
}

#logoutBut {
    margin-left:30%;
    position: relative; 
    margin-top: 10%;
}

.productSpan {
    color: black;
}

#emailStyle {
    text-align: center;
    height:7%;
    width: 38%;
    border-radius:7px;
    clear: both;
    margin: 0 auto;
    display: block;
}

.name {
    color: black;
}

.divLClass {
    color: grey;
    clear: both;
    
}

.divLClassP {
    float: right;
    clear: both;
    
}

#bckH {

}

.bckDiv {
    float: right;
    clear: both;
    position: relative;
}
.profileBut {
    float: right;
    
    clear: both;
}

#homeButt {
    z-index: 10;
    padding-top: 35px;
}

.editButt {
    margin-left:27%;
    position: relative; 
    margin-top: 10%;
}

#newName {
    width: 95px;
    margin: 0 auto;
    margin-left: 22%;
}

#comBut {
    margin: 15px;
}

#comStyl {
    color: rebeccapurple;
}